@inherits LayoutComponentBase
<div class="page" >
	<div class="sidebar" style="background-image: linear-gradient(180deg, rgb(5, 39, 109) 0%, #3a2047 70%);">
		<NavMenu />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
